<div class="container">

    <div class="right-text-block">
        <h2 style="opacity: 1;">{{titles}}</h2>
        <p style="opacity: 1;">
            Constant problem-solving, adding value
            <br> with our work - is what drives us.
            <br>
            <br> We’re on a mission making world a better place
            <br> by helping our clients build successful businesses
            <br> and meaningful products.
        </p>

        <span class="link" style="opacity: 1;">our works - coming soon</span>
    </div>
</div>
